@model IEnumerable<DAB.Web.Models.IngredientViewModele>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
    </thead>
    <tbody>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Unit)
            </th>

        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
            </tr>
            <tr>
                @Html.DisplayFor(modelItem => item.Unit)
            </tr>

            <track />
            <tr>
                <td>
                    @*  label , function ,controller *@
                    @Html.ActionLink("teest", "index", "Recette", new { id = 1 }, null)

                    @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })


                </td>
            </tr>

        }
    </tbody>
</table>
