@model DAB.Web.Models.RecetteViewModele

@{
    ViewData["Title"] = "Details";
}

    @foreach (var item in Model.recetteIngredients)
    {
       <li> @item.Dose @item.Unite  @item.Recette.Name  @item.Ingredient.Description
       </li>
        // @Html.DisplayFor(item.Name);
      
}
    @foreach (var item in ViewBag.Ingrediant)


    {


        <li>@item.name</li>
        <li>@item.price </li>
<h1>Details</h1>


}


<div>
    

